<strong>Olá, {{ user }}</strong>
<p>Há uma nova entrega, confira os detalhes abaixos:</p>
<p>
  <strong>Produto</strong>: {{product}}<br />
  <strong>Destinatário</strong>: {{recipient}}<br />
  <strong>Endereço da entrega</strong>: {{address}}<br />
  <br />
</p>
